@import '../../assets/css/_mixin.scss';


/*GLOBAL STYLING*/

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    background-repeat: no-repeat;
}

.clock__dial__hours,
.clock__dial__minutes {
    stroke: #fff;
}

/*END GLOBAL*/

body {
    background: #000;
}

.svg-transition {
    transition: all 0.7s ease-in-out;
}

.clock {
    position: relative;
    z-index: 1;
    width: 2.25em;
    height: 2.25em;
    margin: auto;
    font-size: 62px;
}

.projects_clock {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @media  (min-width: 1400px) {
        font-size: 200px;
    }
}

.svg {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    @include transform(rotate(-90deg));
    overflow: visible;

    .svg-circle-default {
        fill: transparent;
        opacity: 0.3;
    }
    
    .svg-circle-progress {
        fill: transparent;
    }
    .svg-circle-text {
       font-size: 2rem;
       text-anchor: middle;
       fill: #000;
       font-weight: bold;
    }

    //This is the svg 'g' class that contains all 12 clock hours
    .clock__dial__hours {
        pointer-events: none;
        fill-opacity: 0;
        stroke-width: 1;
        stroke-opacity: 0.4;
        stroke: #fff;
    }

    //This class references a single clock hour
    .clock__dial__hour {
        cursor: pointer;
        pointer-events: all;
        fill: rgba(255, 255, 255, 0);
        fill-opacity: 1;
        stroke: none;
    }

    .clock__dial__hour__circle {
        fill: #fff;
        transition: 'all .3s';
        transform-origin: '0px 0px 0px';
    }
}


@media (min-width: 768px) {
    .clock {
        font-size: 94px;
    }

    .projects .project {
        max-height: 100vh;
    }
}

@media (min-width: 992px) {
    .clock {
        font-size: 125px;
    }

    .projects .project {
        height: -webkit-calc(100vh - 165px);
        height: calc(100vh - 165px);
    }
}

@media  (min-width: 1400px) {
    .projects_clock {
        font-size: 200px;
    }
}

