@import './src/_mixin.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    background-repeat: no-repeat;
}

body {
    background: #000;
}

.clock {
    position: relative;
    z-index: 1;
    width: 2.25em;
    height: 2.25em;
    margin: auto;
    font-size: 62px;
}

.projects_clock {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.svg {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    @include transform(rotate(-90deg));

    .svg-circle-bg {
        fill: transparent;
    }
    
    .svg-circle {
        fill: transparent;
    }
    .svg-circle-text {
       font-size: 2rem;
       text-anchor: middle;
       fill: #000;
       font-weight: bold;
    }
}

@media (min-width: 1400px) {
    .projects_clock {
        font-size: 200px;
    }
}

@media (min-width: 992px) and (max-width: 1400px) {
    .clock {
        font-size: 125px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .clock {
        font-size: 94px;
    }
}